* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#question {
    margin-bottom: 20px;
}

#elements {
    display: grid;
    grid-template-columns: 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh;
    gap: 10px;
}

.element-container {
    width: 100%;
    height: 100%;

    border-radius: 9px;

    position: relative;
}

.element-info {
    width: 100%;
    height: 100%;

    padding: 0.7em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: first baseline;

    position: absolute;
    z-index: 1;
}

.energy-level {
    font-size: 1.2em;
}

.symbol {
    font-size: 1.5em;
    font-weight: bold;
}

.name {
    font-size: 1.2em;
}

.weight {
    font-size: 0.9em;
}

.state-group {
    text-align: right;

    justify-self: last baseline;
    align-self: last baseline;

    transform: translateY(-50%);
}

.state {
    font-size: 1.2em;
    font-weight: bold;
}

.group {
    font-size: 0.6em;
    font-style: italic;
    font-weight: 600;
}

.element-button {
    font-size: 2em;

    background-color: rgb(0,0,0,1);
    border: 1px solid #e5e5e5;

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.alkali-metal {
    color: #0e6a7c;
    background-color: #d0f6f6;
}

.metalloid {
    color: #83510e;
    background-color: #ffefd8;
}

.actinide {
    color: #b53215;
    background-color: #fee4d0;
}

.alkaline-earth-metal {
    color: #dc1c34;
    background-color: #ffe7ea;
}

.reactive-nonmetal {
    color: #1061d4;
    background-color: #e1f1ff;
}

.unknown-chemical-properties {
    color: #37363f;
    background-color: #e6e6e4;
}

.transition-metal {
    color: #5239d1;
    background-color: #f2e4ff;
}

.noble-gas {
    color: #bf2a5c;
    background-color: #ffe6ef;
}

.post-transition-metal {
    color: #297058;
    background-color: #dbfaeb;
}

.lanthanide {
    color: #123950;
    background-color: #e7f8ff;
}

#generate-button {
    color: #000;
    background-color: #ffff00;

    outline: none;

    margin-top: 20px;
}

#generate-button:hover {
    outline: 1px solid #ffffff;
}

#generate-button:focus {
    outline: none;
}

#generate-button:active {
    outline: none;
}
