#footer {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    position: fixed;
}

footer {
    font-size: 2vh;

    color: #37363f;
    background-color: #ffff00;
}

#tooltip {
    color: #37363f;
    background-color: #e6e6e4;

    border-radius: 9px;

    width: 25vh;
    height: 25vh;

    padding: 0.7em;

    position: fixed;
    z-index: 1;

    opacity: 0;

    transform: translate(10%, -25%);
}

#tooltip-image:hover #tooltip {
    opacity: 1;
}

#tooltip {
    display: flex;
    flex-flow: column nowrap;
}

#energy-level {
    font-size: 1.2em;
}

#symbol {
    font-size: 1.5em;
    font-weight: bold;
}

#name {
    font-size: 1.2em;
}

#weight {
    font-size: 0.9em;
}

#state-group {
    text-align: right;

    justify-self: last baseline;
    align-self: last baseline;

    transform: translateY(-50%);
}

#state {
    font-size: 1.2em;
    font-weight: bold;
}

#group {
    font-size: 0.6em;
    font-style: italic;
    font-weight: 600;
}

#how-to-read {
    display: flex;
    align-items: center;
}